@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat:wght@100;300;400&family=Poppins:ital,wght@0,300;0,400;0,500;1,600&family=Rancho&display=swap");

.navbar-toggler-icon::before {
  top: -6px;
}

.navbar-toggler-icon::after {
  top: 6px;
}

.navbar-toggler.active .navbar-toggler-icon {
  background-color: transparent;
}

.navbar-toggler.active .navbar-toggler-icon::before {
  transform: rotate(45deg);
  top: 0;
}

.navbar-toggler.active .navbar-toggler-icon::after {
  transform: rotate(-45deg);
  top: 0;
}

.navbar-collapse {
  display: none;
}

.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  margin-left: 15px;
}

.nav-link {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #db7212;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .navbar-brand {
    justify-content: center;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
    background-color: #ffffff;
    padding: 15px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
  }

  .navbar-nav.show {
    display: flex;
  }

  .nav-item {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .nav-link {
    font-size: 18px;
    color: #ffffff;
  }
}
